
<div class="login-container">

  <app-header class="header"></app-header>

  <div class="form-container">
    <form [formGroup]="loginForm" novalidate>
      <div class="email">
        <label for="email">Email</label>
        <input type="email" name="email" formControlName="email">
      </div>

      <div class="password">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password">
      </div>

      <button type="submit" (click)="login()">
        Login
      </button>

    </form>


    <div class="login-failed" *ngIf="loginFailed">
      Please enter a valid email and password.
    </div>
    
  </div>


</div>