<div class="user-container">

  <div class="email">{{email}}</div>

  <app-header class="header"></app-header>

  <div class="users-container">

    <div class="single-user" *ngFor="let item of users">
      
      <div class="img-container">
        <img src="{{item.avatar}}">
      </div>

      <div class="name-email-container">
        <div class="name">
          {{ item.first_name }} {{ item.last_name }}
        </div>

        <div class="email">
          {{ item.email }}
        </div>

      </div>

    </div>
  
  </div>


</div>